<div class='panel panel-primary'>
  <div class="panel-heading">
    <h3 class="panel-title">Register a New Stylist</h3>
  </div>
  <div class="panel-body">
    <form action="/new/stylist" method="post">
      Name:
      <input id='name' name='name' type = 'text' />
      <button class='btn btn-success' type="submit">Submit</button>
    </form>
  </div>
</div>
